*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
freeline.py
freeline/
freeline_project_description.json
*.hprof
/app/baidu/release/output.json
/app/wandoujia/release/output.json
/app/beta/release/output.json
/app/huawei/release/output.json
/app/oppo/release/output.json
/app/shop360/release/output.json
/app/meizu/release/output.json
/app/samsung/release/output.json
/app/dc/release/output.json
/app/vivo/release/output.json
