<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cool.dingstock.post">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:theme="@style/DcAppTheme">
        <activity
            android:name=".ui.post.deal.index.DealDetailsIndexActivity"
            android:exported="false" />
        <activity
            android:name=".ui.post.nearby.NearbyDetailsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:exported="false" />
        <activity
            android:name=".activity.MoreVideoActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="dc.action.router" />
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="app.dingstock.net"
                    android:path="/post/moreView"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasePostActivity"
            android:exported="true" />
        <activity
            android:name=".ui.post.detail.CircleDynamicDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="dc.action.router" />
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="app.dingstock.net"
                    android:path="/community/post"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>