<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cool.dingstock.debug">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:exported="true"
            android:name=".activity.DebugIndexActivity"
            android:icon="@mipmap/debug_launcher"
            android:label="盯链_测试"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/DcAppThemeBlack">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>
